<div class="container-fluid d-flex" style="background-color: #D9D9D9; min-height: 100vh;">
    <div class="sideMenu">
        <a href="/admin"><button type="button" class="btn btn-light sideMenuButton" ><i class="bi bi-view-list"></i> <span class="menuLabel"> Dashboard</span></button></a>
        <a href="/admin/customers"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-people-fill"></i><span class="menuLabel"> Customers</span></button></a>
        <a href="/admin/products"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-box-seam-fill"></i><span class="menuLabel"> Products</span></button></a>
        <a href="/admin/orders"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-receipt"></i><span class="menuLabel"> Orders</span></button></a>
        <a href="/admin/coupons"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-ticket-perforated-fill"></i><span class="menuLabel"> Coupen Management</span></button></a>
        <a href="/admin/salesReport"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-journal-bookmark"></i><span class="menuLabel"> Sales Report</span></button></a>
        <a href="/admin/category"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-collection-fill"></i><span class="menuLabel"> Catagory</span></button></a>
        <a href="/admin/offers"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-graph-down-arrow"></i><span class="menuLabel"> Offers</span></button></a>
        <dir class="separator mt-3 pt-5"></dir>
        
        <a href="/admin/logout"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-box-arrow-right"></i><span class="menuLabel"> Logout</span></button></a>
    </div>
    <div class="orderDetails d-flex justify-content-center" style="width: 80%;">
        <section class="content-main" style="width: 90%;">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title my-5">Order List </h2>
                </div>
            </div>
            <div class="card mb-4">
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile Number</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Payment Status</th>
                                    <th scope="col">Date and Time</th>
                                    <th scope="col" class="text-center"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each dateFormattedOrders}}
                                <tr>
                                    <td><b>{{this.shippingAddress.name}}</b></td>
                                    <td>{{this.shippingAddress.mobileNumber}}</td>
                                    <td>Rs. {{this.totalPrice}}</td>
                                    <td>{{this.paymentMethod}}</td>
                                    <td>{{this.paymentStatus}}</td>
                                    <td>{{this.date}}</td>
                                    <td class="text-end d-flex justify-content-end" style="text-align: right;">
                                        <a href="/admin/orderDetails/{{this._id}}" class="btn btn-info btn-sm rounded me-3">Details</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <nav aria-label="Page navigation example">
                <ul class="pagination d-flex justify-content-center mt-5">
                    {{#if previousPage}}
                    <li class="page-item" id="previousPage" value="{{previousPage}}"><a class="page-link" href="/admin/orders?page={{previousPage}}">Previous</a></li>
                    {{/if}}
                    <li class="page-item" id="currentPageValue" value="{{currentPage}}"><a class="page-link" id="currentPage" href="/admin/orders?page={{currentPage}}">{{currentPage}}</a></li>
                    {{#if nextPage}}
                    <li class="page-item" id="nextPage" value="{{nextPage}}"><a class="page-link" href="/admin/orders?page={{nextPage}}">Next</a></li> 
                    {{/if}}
                </ul>
            </nav>
        </section>
</div>

<script>
    function updateOrderStatus(event,id){
        const selectedValue = event.target.value;
        const data = {value:selectedValue,orderId:id}
        fetch('/admin/updateOrderStatus',{
            method:'POST',
            headers: {
                'Content-Type':'application/json'
            },
            body:JSON.stringify(data)
        })
        .then(response => {
            console.log("response.json:",response.json())
            response.json();
            location.reload();
        })
    }
</script>
