<div class="container-fluid d-flex" style="background-color: #D9D9D9;">
    <div class="sideMenu">
        <a href="/admin"><button type="button" class="btn btn-light sideMenuButton" ><i class="bi bi-view-list"></i> <span class="menuLabel"> Dashboard</span></button></a>
        <a href="/admin/customers"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-people-fill"></i><span class="menuLabel"> Customers</span></button></a>
        <a href="/admin/products"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-box-seam-fill"></i><span class="menuLabel"> Products</span></button></a>
        <a href="/admin/orders"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-receipt"></i><span class="menuLabel"> Orders</span></button></a>
        <a href="/admin/coupons"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-ticket-perforated-fill"></i><span class="menuLabel"> Coupen Management</span></button></a>
        <a href="/admin/salesReport"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-journal-bookmark"></i><span class="menuLabel"> Sales Report</span></button></a>
        <a href="/admin/category"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-collection-fill"></i><span class="menuLabel"> Catagory</span></button></a>
        <a href="/admin/offers"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-graph-down-arrow"></i><span class="menuLabel"> Offers</span></button></a>
        <dir class="separator mt-3 pt-5"></dir>
 
        <a href="/admin/logout"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-box-arrow-right"></i><span class="menuLabel"> Logout</span></button></a>
    </div>

    <section class="content-main ms-2 container" style="width: 80%;">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title my-5">Edit Offer Details</h2>
                </div>
            </div>
            <form class="row mt-5" id="addOfferForm" action="/admin/editOffer/{{offer._id}}" method="post">
                <div class="col-md-6 my-3">
                    <label for="categoryName" class="form-label">Select a category</label>
                    <select name="categoryName" class="form-select" id="categoryName" required>
                        <option selected value="{{offer.categoryName._id}}">{{offer.categoryName.catagoryName}}</option>
                        {{#each categories}}
                            <option value="{{this._id}}">{{this.catagoryName}}</option>
                        {{/each}}
                    </select>
                    <div class="text-danger" id="categorySelectionError" style="font-size: small;">
                        {{#if message}}
                        <p>{{message}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-6 my-3">
                    <label for="offerPercentage" class="form-label">Offer in percentage(Max 90, Min 10)</label>
                    <input type="text" name="offerPercentage" class="form-control" id="offerPercentage" placeholder="eg: 50" onkeyup="validteOffer()" value="{{offer.offerPercentage}}" required>
                    <div class="text-danger" id="offerPercentageError" style="font-size: small;">
                        {{#if message}}
                        <p>{{message}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-6 my-3">
                    <label for="offerExpiryDate" class="form-label">Offer end date</label>
                    <input type="date" name="offerExpiryDate" class="form-control" id="offerExpiryDate" onchange="validateDate()" value="{{modifiedDateFormat}}" required>
                    <div class="text-danger" id="expiryDateError" style="font-size: small;">
                        {{#if message}}
                        <p>{{message}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="col-12 mb-3 mt-5">
                    <button type="submit" class="btn btn-primary">Edit Offer</button>
                </div>
            </form>
            <div class="text-danger" id="formError" style="font-size: small;">
                {{#if ErrMessage}}
                    <p>{{ErrMessage}}</p>
                {{/if}}
            </div>
        </section> <!-- content-main end// -->
</div>

<script>
    function validteOffer(){
        const alertBox = document.getElementById("offerPercentageError");
        const discount = document.getElementById("offerPercentage").value.trim();
        const discountRegex = /^[0-9]+$/;
        if(discount < 10 || discount > 90){
            alertBox.innerHTML = "Discount must be between 10% and 90%";
            return false;
        }else if(!discountRegex.test(discount)){
            alertBox.innerHTML = "Discount must be a number";
            return false;
        }
        alertBox.innerHTML = "";
        return true;
    }

    function validateDate(){
        const alertBox = document.getElementById("expiryDateError");
        const expiryDate = document.getElementById("offerExpiryDate").value;
        const currentDate = new Date();
        const enteredDate = new Date(expiryDate);
        if(enteredDate<currentDate){
            alertBox.innerHTML = "Select an upcoming date";
            document.getElementById("expiryAt").value = null;
            return false;
        }
        alertBox.innerHTML = "";
        return true;
    }

    const alertBox = document.getElementById("formError");
    const offerForm = document.getElementById("addOfferForm");
    offerForm.addEventListener("submit",function(event){
        if(!validteOffer(document.getElementById("offerPercentage").value) ||
           !validateDate(document.getElementById("offerExpiryDate").value)){
             event.preventDefault();
             alertBox.innerHTML = "Enter correct values for each fields";
             return false;
        }else{
            alertBox.innerHTML = "";
            return true;
        }
    })
</script>