<div class="container-fluid d-flex" style="background-color: #D9D9D9;">
    <div class="sideMenu">
        <a href="/admin"><button type="button" class="btn btn-light sideMenuButton" ><i class="bi bi-view-list"></i> <span class="menuLabel"> Dashboard</span></button></a>
        <a href="/admin/customers"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-people-fill"></i><span class="menuLabel"> Customers</span></button></a>
        <a href="/admin/products"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-box-seam-fill"></i><span class="menuLabel"> Products</span></button></a>
        <a href="/admin/orders"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-receipt"></i><span class="menuLabel"> Orders</span></button></a>
        <a href=""><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-card-image"></i><span class="menuLabel"> Banner Management</span></button></a>
        <a href=""><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-ticket-perforated-fill"></i><span class="menuLabel"> Coupen Management</span></button></a>
        <a href=""><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-journal-bookmark"></i><span class="menuLabel"> Sales Report</span></button></a>
        <a href="/admin/category"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-collection-fill"></i><span class="menuLabel"> Catagory</span></button></a>
        <dir class="separator mt-5 pt-5"></dir>
        <a href=""><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-gear"></i><span class="menuLabel"> Settings</span></button></a>
        <a href="/admin/logout"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-box-arrow-right"></i><span class="menuLabel"> Logout</span></button></a>
    </div>
    <div class="customerDetails ">
        <a href="/admin/addProduct" class="btn btn-primary ms-auto mb-5" style="width: auto;">Add New Product</a>
        <table class="table" id="myTable" style="width: 100%;">
            <h3>Your Products</h3>
            <thead>
                <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Brand name</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                <td>{{this.productName}}</td>
                <td>{{this.category.catagoryName}}</td>
                <td>{{this.brandName}}</td>
                <td>{{this.offerPrice}}</td>
                <td>{{this.stock}}</td>
                {{#if this.active}}
                    <td>Listed</td>
                    <td>
                    <a href="/admin/active/{{this._id}}" class="btn btn-success mb-2" onclick="return confirm(`Are you sure you want to unlist this product`)"><i class="bi bi-ban"></i></a>
                    <a href="/admin/editProduct/{{this._id}}" class="btn btn-warning mb-2"><i class="bi bi-pencil-square"></i></a>
                    <a href="/admin/deleteProduct/{{this._id}}" class="btn btn-danger mb-2" onclick="return confirm(`Are you sure want to delete this product?`)"><i class="bi bi-x-circle"></i></i></a>
                </td>
                {{else}}
                    <td>Unlisted</td>
                    <td>
                    <a href="/admin/active/{{this._id}}" class="btn btn-danger" onclick="return confirm(`Are you sure you want to list this product`)"><i class="bi bi-ban"></i></a>
                    <a href="/admin/editProduct/{{this._id}}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                    <a href="/admin/deleteProduct/{{this._id}}" class="btn btn-danger" onclick="return confirm(`Are you sure want to delete this product?`)"><i class="bi bi-x-circle"></i></i></a>
                </td>
                {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center mt-5">
                {{#if previousPage}}
                <li class="page-item"><a class="page-link" href="/admin/products/?page={{previousPage}}">Previous</a></li>
                {{/if}}
                <li class="page-item"><a class="page-link" href="/admin/products/?page={{currentPage}}">{{currentPage}}</a></li>
                {{#if nextPage}}
                <li class="page-item"><a class="page-link" href="/admin/products/?page={{nextPage}}">Next</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</div> 