<section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <form action="/checkout" method="post">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <div class="mb-25">
                                <h4>Select Address</h4>
                            </div>
                            {{#if userAddress}}
                                {{#each userAddress}}
                                    {{#if this.isActive}}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="userAddressId" id="{{this._id}}" value="{{this._id}}" required>
                                            <label class="form-check-label" for="{{this._id}}">
                                                <div class="card" id="{{this._id}}">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{this.name}}</h5>
                                                        <p class="card-text">{{this.address}}, {{this.city}}, {{this.state}} <br>Pincode: {{this.pinCode}}, Mobile number: {{this.mobileNumber}}</p>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    {{else}}
                                    <div class="form-check">
                                        <h5>No address found - add a new address to continue checkout</h5>
                                        <a href="/addAddress" class="btn btn-primary ms-auto mb-5" style="width: auto;">Add New Address</a>
                                    </div>
                                    {{/if}}
                                {{/each}}    
                            {{else}}
                                <div class="form-check">
                                    <h5>No address found - add a new address to continue checkout</h5>
                                    <a href="/addAddress" class="btn btn-primary ms-auto mb-5" style="width: auto;">Add New Address</a>
                                </div>
                            {{/if}}
                        </div>
                        <div class="col-md-6">
                            <div class="order_review">
                                <div class="mb-20">
                                    <h4>Price Details</h4>
                                </div>
                                <div class="table-responsive order_table">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Price (Without offer)</th>
                                                <td class="product-subtotal" colspan="2"><i class="bi bi-currency-rupee"></i> {{total}}</td>
                                            </tr>
                                            <tr>
                                                <th>Discount</th>
                                                <td class="product-subtotal" colspan="2"><i class="bi bi-currency-rupee"></i> -{{discount}}</td>
                                            </tr>
                                            <tr>
                                                <th>Shipping</th>
                                                <td colspan="2"><em>Free Shipping</em></td>
                                            </tr>
                                            <tr>
                                                <th>Total Amount</th>
                                                <input type="text" hidden value="{{subTotal}}" name="cartTotal">
                                                <input type="text" hidden value="{{userCartId}}" name="userCartId">
                                                <input type="text" hidden value="{{userId}}" name="userId">
                                                <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900"><i class="bi bi-currency-rupee"></i> {{subTotal}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="payment_method">
                                    <div class="mb-25">
                                        <h5>Payment</h5>
                                    </div>
                                    <div class="payment_option">
                                        <div class="custome-radio">
                                            <input class="form-check-input" required type="radio" name="paymentMethod" id="paymentRadio1" checked value="COD">
                                            <label class="form-check-label" for="paymentRadio1" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Cash on delivery</label>
                                            
                                        </div>
                                        <div class="custome-radio">
                                            <input class="form-check-input" required type="radio" name="paymentMethod" id="paymentRadio2"  value="ONLINE">
                                            <label class="form-check-label" for="paymentRadio2" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Online Payment</label>
                                            
                                        </div>
                                    </div>
                                </div>
                                {{!-- {{#if userAddress}}
                                {{#if this.isActive}} --}}
                                <button type="submit" class="btn btn-fill-out btn-block mt-30 btn-success">Place Order</button> 
                                {{!-- {{else}}
                                <button type="submit" class="btn btn-fill-out btn-block mt-30 btn-success" disabled>Place Order</button>
                                {{/if}}
                                {{/if}} --}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>