<div class="container-fluid">
    {{!--------------------------- carousel banner --------------------------}}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/banner/Banner1.jpg" class="d-block w-100" alt="banner1">
            </div>
            <div class="carousel-item">
                <img src="/images/banner/Banner2.jpg" class="d-block w-100" alt="banner2">
            </div>
            <div class="carousel-item">
                <img src="/images/banner/Banner3.jpg" class="d-block w-100" alt="banner3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {{!--------------------------- carousel banner end --------------------------}}
    {{!--------------------------- top deals --------------------------}}
    <div class="topDeals mt-3 mb-3" style="background-color: #EFE9E1;"> 
        <div class="pt-4">
            <h3 class="text-center">Trending Now!</h3> 
        </div>
        <div class="d-flex justify-content-evenly pt-3 flex-wrap"> 
            {{!-- products --}}
            <div class="productsContainer d-flex flex-column">  
                <div class="products mb-3 d-flex justify-content-center flex-wrap">
                    {{#if topSellingProducts}}
                    {{#each topSellingProducts}}
                    {{#if this.orderedProducts.active}}
                    <div class="card m-3" style="width: 18rem; border-top-right-radius: 25px; border-top-left-radius: 25px;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;">
                        <a class="productListCart" style="text-decoration: none; color: black;" href="/productDetails/{{this.orderedProducts._id}}">
                        <img src="{{this.orderedProducts.images.[0]}}" class="card-img-top p-2" style="height:350px; border-top-right-radius: 25px; border-top-left-radius: 25px;" alt="Product image">
                        <div class="card-body text-center" style="background-color: #d9d9d9; border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;">
                                        
                            <h5 class="card-title">{{this.orderedProducts.brandName.brandName}}</h5>
                            <p class="card-text">{{this.orderedProducts.productName}}</p>
                            <div class="product-price">
                                <span class="fw-bold text-danger-emphasis fs-5 me-2">Rs. {{this.orderedProducts.offerPrice}} </span>
                                <span class="old-price text-decoration-line-through">Rs. {{this.orderedProducts.price}}</span>
                            </div>
                        </div>
                        </a>
                    </div>
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <div class="m-3">
                        <h5 class="text-center fs-4">Sorry, no products found!...</h5>
                    </div>
                    {{/if}}
                </div>
            </div>  
        {{!-- products --}}
        </div>
    </div>
    {{!--------------------------- top deals end --------------------------}}
    <div class="pt-5">
        <h3 class="text-center">Shop by Catagories</h3> 
    </div>
    <div class="catagoriesList mt-3 mb-3 d-flex flex-wrap justify-content-center" style="background-color: #AC9C8D;">
        <div class="catagoryCard m-3">
            <a href="">
                <img class="catagory" src="/images/catagoriesMain/ethnic-men.jpg" alt="">
            </a>
        </div>
        <div class="catagoryCard m-3">
            <a href="">
                <img class="catagory" src="/images/catagoriesMain/ethnic-women.jpg" alt="">
            </a>
        </div>
        <div class="catagoryCard m-3">
            <a href="">
                <img class="catagory" src="/images/catagoriesMain/formal-men.jpg" alt="">
            </a>
        </div>
        <div class="catagoryCard m-3">
            <a href="">
                <img class="catagory" src="/images/catagoriesMain/formal-women.jpg" alt="">
            </a>
        </div>
        <div class="catagoryCard m-3">
            <a href="">
                <img class="catagory" src="/images/catagoriesMain/kidswear.jpg" alt="">
            </a>
        </div>
        <div class="catagoryCard m-3">
            <a href="">
                <img class="catagory" src="/images/catagoriesMain/western-women.jpg" alt="">
            </a>
        </div>
        <div class="catagoryCard m-3">
            <a href="">
                <img class="catagory" src="/images/catagoriesMain/western-men.jpg" alt="">
            </a>
        </div>
        <div class="catagoryCard m-3">
            <a href="">
                <img class="catagory" src="/images/catagoriesMain/footwear.jpg" alt="">
            </a>
        </div>
    </div>
</div>

