{{!-- CDN link for easy invoice --}}
<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>

<div class="orderDetails d-flex justify-content-center" style="">
        <section class="content-main" style="width: 90%;">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title my-5">Order Details </h2>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Product Details</th>
                                    <th scope="col">Delivery Address</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Order Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orderDetails}}
                                <tr>
                                    <td class="image"><img src="{{this.productImages.[0]}}" alt="productImage" style="width: 5rem;"></td>
                                    <td>{{this.productName}}, {{this.brandName}}, <br>Size: {{this.size}}, Color: {{this.color}}</td>
                                    <td>{{this.shippingAddress.name}}, {{this.shippingAddress.houseName}}, {{this.shippingAddress.street}} <br>{{this.shippingAddress.city}}, {{this.shippingAddress.state}}</td>
                                    <td>{{this.quantity}}</td>
                                    <td>{{this.productPrice}}</td>
                                    <td class=" text-center">{{this.productsData.orderStatus}}</td>
                                    <td>
                                        {{#ifEquals this.productsData.orderStatus "placed"}}
                                            <a href="/cancelProduct/{{this._id}}/{{this.productsData._id}}" class="btn btn-danger d-grid gap-2 col-6 mx-auto mb-3" style="width: fit-content;" onclick="return confirm(`Do you want to cancel this order?`)">Cancel order</a>
                                        {{/ifEquals}}
                                        {{#ifEquals this.productsData.orderStatus "shipped"}}
                                            <a href="/cancelProduct/{{this._id}}/{{this.productsData._id}}" class="btn btn-danger d-grid gap-2 col-6 mx-auto mb-3" style="width: fit-content;" onclick="return confirm(`Do you want to cancel this order?`)">Cancel order</a>
                                        {{/ifEquals}}
                                        {{#ifEquals this.productsData.orderStatus "cancelled"}}
                                            <button class="btn btn-danger d-grid gap-2 col-6 mx-auto" style="width: fit-content;" disabled>Cancel order</button>
                                        {{/ifEquals}}
                                        {{#ifEquals this.productsData.orderStatus "delivered"}}
                                            <a href="/returnProduct/{{this._id}}/{{this.productsData._id}}" class="btn btn-danger d-grid gap-2 col-6 mx-auto" style="width: fit-content;" onclick="return confirm(`Do you want to return this product?`)">Return product</a>
                                        {{/ifEquals}}
                                        {{#ifEquals this.productsData.orderStatus "returned"}}
                                            <button class="btn btn-danger d-grid gap-2 col-6 mx-auto" style="width: fit-content;" disabled>Return product</button>
                                        {{/ifEquals}}
                                    </td>
                                    
                                    {{#ifEquals this.productsData.orderStatus "delivered"}}
                                    <td>
                                        <a onclick="downloadInvoice(`{{this.productName}}`,`{{this.brandName}}`,`{{this.size}}`,`{{this.color}}`,`{{this.shippingAddress.name}}`,`{{this.shippingAddress.houseName}}`,`{{this.shippingAddress.street}}`,`{{this.quantity}}`,`{{this.productPrice}}`)" class="btn btn-warning gap-2 mx-auto">Download invoice</a>
                                    </td>
                                    {{/ifEquals}}
                                    {{#ifEquals this.productsData.orderStatus "returned"}}
                                    <td>
                                        <a onclick="downloadInvoice(`{{this.productName}}`,`{{this.brandName}}`,`{{this.size}}`,`{{this.color}}`,`{{this.shippingAddress.name}}`,`{{this.shippingAddress.houseName}}`,`{{this.shippingAddress.street}}`,`{{this.quantity}}`,`{{this.productPrice}}`)" class="btn btn-warning gap-2 mx-auto">Download invoice</a>
                                    </td>
                                    {{/ifEquals}}
                                    
                                </tr>
                                {{/each}}
                            </tbody>
                            
                        </table>
                    </div> <!-- table-responsive //end -->
                </div>
            </div>
        </section>
</div>

<script>
    async function downloadInvoice(productName,brandName,size,color,userName,houseName,street,quantity,totalPrice){
        try{
            var data = {
                apiKey: "free", // Please register to receive a production apiKey: https://app.budgetinvoice.com/register
                mode: "development", // Production or development, defaults to production   
                
                // Your own data
                sender: {
                    company: "UFO",
                    address: "Sample Street 123",
                    zip: "1234 AB",
                    city: "Sampletown",
                    country: "Samplecountry"
                },
                // Your recipient
                client: {
                    company: `${userName}`,
                    address: `${houseName}`,
                    city: `${street}`,
                    //country: "Clientcountry"
                },
                // The products you would like to see on your invoice
                // Total values are being calculated automatically
                products: [
                    {
                        quantity: quantity,
                        description: `${productName}`,
                        price: totalPrice
                    }
                ],
                // The message you would like to display on the bottom of your invoice
                bottomNotice: "Thankyou for shopping with UFO",
                
            };

            //Create your invoice! Easy!
            easyinvoice.createInvoice(data, function (result) {
                //The response will contain a base64 encoded PDF file
                easyinvoice.download("myInvoice.pdf");
            });
        }catch(err){
            console.log("Err:",err.message);
        }
    }
</script>

