

<section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row">
                    <div class="col-lg-3 primary-sidebar sticky-sidebar"> 
                        <!-- Fillter -->
                        <div class="sidebar-widget price_range range mb-30">
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    {{!-- <form class="d-flex mb-4" action="/filter" method="get"> --}} 
                                    <div class="d-flex mb-4">
                                        <input class="form-control ms-2" type="search" id="searchBox" placeholder="search" aria-label="Search" name="search" value="{{#if search}}{{search}}{{/if}}" required>
                                        <button class="btn btn-outline-secondary ms-3" type="submit" onclick="filterProducts()"><i class="bi bi-search"></i></button>
                                    </div>
                                    {{!-- </form> --}}
                                    <div class="filterOptions">
                                        <h5>Gender</h5>
                                        <label for="male" style="display:block;">
                                            <input type="checkbox" id="male" name="gender" value="male" onchange="filterProducts()">Male
                                        </label>
                                        <label for="female" style="display:block;">
                                            <input type="checkbox" id="female" name="gender" value="female" onchange="filterProducts()">Female
                                        </label>
                                        <label for="unisex" style="display:block;">
                                            <input type="checkbox" id="unisex" name="gender" value="unisex" onchange="filterProducts()">Unisex
                                        </label>
                                        <div class="separator my-4"></div>
                                    </div>
                                    <div class="filterOptions">
                                        <h5>Brands</h5>
                                        {{#each brands}}
                                        <label for="{{this._id}}" style="display:block;">
                                            <input type="checkbox" id="{{this._id}}" name="brand" value="{{this._id}}" onchange="filterProducts()">{{this.brandName}}
                                        </label>
                                        {{/each}}
                                        <div class="separator my-4"></div>
                                    </div>
                                    <div class="filterOptions">
                                        <h5>Category</h5>
                                        {{#each categories}}
                                        <label for="{{this._id}}" style="display:block;">
                                            <input type="checkbox" id="{{this._id}}" name="category" value="{{this._id}}" onchange="filterProducts()">{{this.catagoryName}}
                                        </label>
                                        {{/each}}
                                        <div class="separator my-4"></div>
                                    </div>
                                    <div class="filterOptions">
                                        <h5>Price</h5>
                                        <label for="lt500" style="display:block;">
                                            <input type="checkbox" id="lt500" name="offerPrice" value="0" onchange="filterProducts()">Below Rs.500
                                        </label>
                                        <label for="500to1000" style="display:block;">
                                            <input type="checkbox" id="500to1000" name="offerPrice" value="500" onchange="filterProducts()">Rs.500 - Rs.1000
                                        </label>
                                        <label for="1000to1500" style="display:block;">
                                            <input type="checkbox" id="1000to1500" name="offerPrice" value="1000" onchange="filterProducts()">Rs.1000 - Rs.1500
                                        </label>
                                        <label for="1500to2000" style="display:block;">
                                            <input type="checkbox" id="1500to2000" name="offerPrice" value="1500" onchange="filterProducts()">Rs.1500 - Rs.2000
                                        </label>
                                        <label for="2000to2500" style="display:block;">
                                            <input type="checkbox" id="2000to2500" name="offerPrice" value="2000" onchange="filterProducts()">Rs.2000 - Rs.2500
                                        </label>
                                        <label for="2500to3000" style="display:block;">
                                            <input type="checkbox" id="2500to3000" name="offerPrice" value="2500" onchange="filterProducts()">Rs.2500 - Rs.3000
                                        </label>
                                        <label for="gt3000" style="display:block;">
                                            <input type="checkbox" id="gt3000" name="offerPrice" value="3000" onchange="filterProducts()">Above Rs.3000
                                        </label>
                                        <div class="separator my-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <select name="sort" id="sortProducts" style="border: none; background:none;" onchange="filterProducts()">
                                            <option value="" selected disabled>Sort</option>   
                                            <option value="1">Price: Low to High</option>
                                            <option value="-1">Price: High to Low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{!-- products --}}
                        <div class="productsContainer d-flex flex-column">  
                            <div class="products mb-3 d-flex justify-content-center flex-wrap">
                                {{#if products}}
                                {{#each products}}
                                {{#if this.active}}
                                <div class="card m-3" style="width: 18rem; border-top-right-radius: 25px; border-top-left-radius: 25px;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;">
                                    <a class="productListCart" style="text-decoration: none; color: black;" href="/productDetails/{{this._id}}">
                                    <img src="{{this.images.[0]}}" class="card-img-top p-2" style="height:350px; border-top-right-radius: 25px; border-top-left-radius: 25px;" alt="Product image">
                                    <div class="card-body text-center" style="background-color: #d9d9d9; border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;">
                                        
                                        <h5 class="card-title">{{this.brandName.brandName}}</h5>
                                        <p class="card-text">{{this.productName}}</p>
                                        <div class="product-price">
                                            <span class="fw-bold text-danger-emphasis fs-5 me-2">Rs. {{this.offerPrice}} </span>
                                            <span class="old-price text-decoration-line-through">Rs. {{this.price}}</span>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                                {{/if}}
                                {{/each}}
                                {{else}}
                                <div class="m-3">
                                    <h5 class="text-center fs-4">Sorry, no products found!...</h5>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        {{!-- products --}}

                    {{!---------------- pagination --------------------}}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination d-flex justify-content-center mt-5">
                                {{!-- {{#if previousPage}} --}}
                                <li class="page-item" id="previousPage" value="{{previousPage}}" onclick="filterProducts(this)"><a class="page-link">Previous</a></li>
                                {{!-- {{/if}} --}}
                                <li class="page-item" id="currentPageValue" value="{{currentPage}}" onclick="filterProducts(this)"><a class="page-link" id="currentPage">{{currentPage}}</a></li>
                                {{!-- {{#if nextPage}} --}}
                                <li class="page-item" id="nextPage" value="{{nextPage}}" onclick="filterProducts(this)"><a class="page-link">Next</a></li> 
                                {{!-- {{/if}} --}}
                            </ul>
                        </nav>
                    {{!---------------- pagination --------------------}}

                    </div>
                    
                </div>
            </div>
        </section>

{{!-- js for checkbox selection and sorting and filtering --}}

<script>

    const pagination = async(value)=>{
        try{
            const response = await fetch(`/pagination/?page=${value.value}`,{
                method:'GET',
                headers:{'Content-Type':'application/json'}
            });
            const data = await response.json();
            updateProductList(data.products);
            if(data.previousPage){
                const previousPage = document.getElementById('previousPage');
                previousPage.value = data.previousPage;
            }
            const currentPageValue = document.getElementById('currentPageValue');
            currentPageValue.value = data.currentPage;
            const currentPage = document.getElementById('currentPage');
            currentPage.textContent = data.currentPage;
            if(data.nextPage){
                const nextPage = document.getElementById('nextPage');
                nextPage.value = data.nextPage;
            }
        }catch(err){
            console.log("Error:",err.message);
        }
    }

    const updateProductList = (filteredData) => {
        const productList = document.querySelector('.products');
        // Clear existing products
        productList.innerHTML = ''; 

        filteredData.forEach(product => {
            const productCard = document.createElement('div');
            productCard.classList.add('card', 'm-3');
            productCard.style.width = '18rem';
            productCard.style.borderTopRightRadius = '25px';
            productCard.style.borderTopLeftRadius = '25px';
            productCard.style.borderBottomRightRadius = '15px';
            productCard.style.borderBottomLeftRadius = '15px';
            const innerDiv = document.createElement('div');
            innerDiv.classList.add('products', 'mb-3', 'd-flex', 'flex-wrap', 'justify-content-evenly','card-body');
            productCard.appendChild(innerDiv);
            
            productCard.innerHTML = `
                <a class="productListCart" style="text-decoration: none; color: black;" href="/productDetails/${product._id}">
                    <img src="${product.images[0]}" class="card-img-top p-2" style="height:350px;border-top-right-radius: 25px; border-top-left-radius: 25px;" alt="Product image">
                    <div class="card-body text-center" style="background-color: #d9d9d9; border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;">
                        <h5 class="card-title">${product.brandName.brandName}</h5>
                        <p class="card-text">${product.productName}</p>
                        <div class="product-price">
                            <span class="fw-bold text-danger-emphasis fs-5 me-2">Rs. ${product.offerPrice} </span>
                            <span class="old-price text-decoration-line-through">Rs. ${product.price}</span>
                        </div>
                    </div>
                </a>
            `;
            productList.appendChild(productCard);
        });
    };

    async function filterProducts(pageValue){
        try{
            const search = document.getElementById("searchBox");
            const selectedFilters = {};
            const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            const sortValues = document.getElementById('sortProducts');

            //constructing query string with url parameters
            let queryString = '';
            if(search.value){
                queryString+=`search=${search.value}&`
            }
            if(pageValue){
                queryString += `page=${pageValue.value}&`;
            }
            if(sortValues.value){
                queryString += `${sortValues.name}=${sortValues.value}&`;
            }
            for(const checkbox of checkboxes){
                const filterName = checkbox.name;
                const filterValue = checkbox.value;
                selectedFilters[filterName] = filterValue;
                queryString += `${filterName}=${filterValue}&`;
            }
            
            //removing the trailing '&' if any
            queryString = queryString.slice(0,-1);
            const url = `/filter?${queryString}`;
            //console.log("queryString: ",queryString);

            const response = await fetch(url,{
                method:'GET',
                headers:{'Content-Type':'application/json'}
            });

            //update the product list with filtered data
            const data = await response.json();
            updateProductList(data.filteredProducts);

            if(data.previousPage){
                const previousPage = document.getElementById('previousPage');
                previousPage.value = data.previousPage;
            }
            const currentPageValue = document.getElementById('currentPageValue');
            currentPageValue.value = data.currentPage;
            const currentPage = document.getElementById('currentPage');
            currentPage.textContent = data.currentPage;
            if(data.nextPage){
                const nextPage = document.getElementById('nextPage');
                nextPage.value = data.nextPage;
            }
        }catch(err){
            console.log("err:",err);
        }
    }

</script>