
<section class="product-container container mb-5">
        <!-- left side -->
        <div class="img-card ms-5" style="width: 45%;">
            <div id="imgContainer">
                <img src="{{product.images.[0]}}" alt="" id="target">
            </div>

            <!-- small img -->
            <div class="small-Card">
                {{#each product.images}}
                <img src="{{this}}" alt="images" id="featured-image" class="small-Img">
                {{/each}}
            </div>
        </div>
        <!-- Right side -->
        <div class="product-info ms-5" style="width: 65%;">
            <h3>{{product.brandName.brandName}}</h3>
            <h4>{{product.productName}}</h4>
            <h5>Price: Rs.{{product.offerPrice}} <del>RS.{{product.price}}</del></h5>
            <p>{{product.description}}</p>
            <div class="sizes">
                <p>Size:</p>
                <select name="Size" id="size" class="size-option">
                    <option value="{{product.size}}">{{product.size}}</option>
                </select>
                <p>Color: <span>{{product.color}}</span><div style="border: 1px solid; border-radius: 50%; width: 30px; height: 30px; background-color: {{product.color}};"></div></p>
            </div>
            <div class="addProduct d-flex">
                <div class="quantity me-3" id="addToCartBtnDiv">
                    {{#if isInStock }}
                        {{#if itemInCart}}
                        
                            <button style="display: block; border-radius: 25px;"><a href="/cart" style="padding: 0%; text-decoration: none; color: white;">Go to Cart</a></button>
                        
                        {{else}}
                        {{!-- <form action="/addToCart/{{product._id}}" method="post"> --}}
                            <input type="text" id="hiddenProductId" value="{{product._id}}" hidden>
                            <button id="addToCartBtn" style="display: block; border-radius: 25px;">Add to Cart</button>
                        {{!-- </form> --}}
                        {{/if}}
                    {{else}}
                    <button style="display: block;" disabled>Out of stock</button>
                    {{/if}}
                </div>
                <div class="quantity">
                    {{#if productExistInWishlist}}
                    <form action="/wishlist/{{product._id}}" method="post">
                        <button style="display: block; border-radius: 25px;">Remove from Wishlist</button>
                    </form>
                    {{else}}
                    <form action="/wishlist/{{product._id}}" method="post">
                        <button style="display: block; border-radius: 25px;">Add to Wishlist</button>
                    </form>
                    {{/if}}
                </div>
            </div>
            <div id="notification" class="my-2">

            </div>
            <div>
                <p>Delivery:</p>
                <p>Free standard shipping on orders over Rs.500 before tax, plus free returns.</p>
            </div>
        </div>
    </section>
    
{{!-- image zoom  and image selection--}} 
{{!-- sweetaltert cdn --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const imgContainer = document.getElementById('imgContainer');
    const img = imgContainer.querySelector('img');
    const featuredImage = document.getElementById('target');
    const smallImages = document.querySelectorAll('.small-Img');

    imgContainer.addEventListener('mousemove',(e) => {
        const x = e.clientX - e.target.offsetLeft;
        const y = e.clientY - e.target.offsetTop;
        img.style.transformOrigin = `${x}px ${y}px`;
        img.style.transform = "scale(1.5)";
    })
    imgContainer.addEventListener('mouseleave',() =>{
        img.style.transformOrigin = 'center';
        img.style.transform = "scale(1)";
    })

    smallImages.forEach((img) => {
        img.addEventListener('click', () => {
            // Replace the current image with the clicked image
            featuredImage.src = img.src;
        });
    });
</script>
<script>
    const addToCartBtn = document.getElementById("addToCartBtn");
    const productId = document.getElementById("hiddenProductId").value;

    addToCartBtn.addEventListener('click',async function addToCart(){
        try{
            const response = await fetch(`/addToCart/${productId}`,{
            method : 'POST',
            headers : {
                'Content-Type':'application/json'
            }
            });
            const data = await response.json();
            console.log("data:",data);
            
            if (data) { // Check for success in response data
                Swal.fire({
                    title: 'Success!',
                    text: 'Item added to cart!',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500 // Auto close after 1.5 seconds
                });

                // Reload page after notification closes
                setTimeout(() => {
                    location.reload();
                }, 1500);
                } else {
                // Handle unsuccessful add to cart
                Swal.fire({
                    title: 'Error!',
                    text: 'Failed to add item to cart!',
                    icon: 'error'
                });
            }
        }catch(err){
            console.log(err.message)
        }
    })
</script>
